
<div style="background-color: rgb(83,134,166);">
    <p>componente1 works!</p>

</div>
<br />

<body>

        <div style="background-color: rgb(51,82,102);"> 
          <h1>Create new account</h1>
    <input placeholder="Nombre Completo" [(ngModel)]="nombre" >
    <br>
    <br>
    <input placeholder="Email" [(ngModel)]="correo" >
    <br>
    <br>
    <input type="password" placeholder="Contraseña" [(ngModel)]="contra" >
    <br>
    <br>
    <input type="password" placeholder="Confirmar Contraseña" [(ngModel)]="confirmar" >
    <br>
    <br>
    <input placeholder="Numero Telefonico" [(ngModel)]="numero">
    <br>
    <br>

    <div style="background-color: rgb(115,185,230);"> 
      <br>
    <br>
    <button (click)="register()">Resgistrarse</button>
 
    </div>
      </div>

</body>