<body style="background-color: rgb(51,82,102); text-align: center;  ">
    <img src="https://s3.eu-central-1.amazonaws.com/robotica-es/uploads/items/28818_%C2%A1Felices%20Fiestas%20!.gif" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Feliz Año Nuevo Josué Stores" data-noaft="0" style="width: 1080px; height: 300px; margin:40px 9px;">
    <div style="background-color: rgb(83,134,166);"> 

      <br>
      <h1>Bienvenido a su Pagina web de Compras Favorita</h1>
      <br>
      <div style="background-color: rgb(102,165,204);"> 
        <br>

        <div class="col-sm-6">
        
        </div>

        <br>
        <br>

        <div class="col-sm-6">
        
        </div>

        <br>
        <br>

        <div class="col-sm-6">
 
        </div>

        <br>
        <br>

        <div class="form-group col-md-3">

          
        </div>

        <br>
        <br>

        <div class="form-group col-md-3">
        
        </div>

        <br>
        <br>

<div style="background-color: rgb(115,185,230);"> 
<br>
<br>

<br>  <br>
</div>
<br>
<br>
<div>

    <br>
    <br>
    <br>
    <br>

</div>
<br>
<br>
<br>
<br>
<div>
    <br>
    <br>
    <br>
    <br>


</div>
<br>
<br>
<br>
<br>
<div>
    <br>
    <br>
    <br>
    <br>


</div>
<br>
<br>
</div>
<br>
<br>

<div class="col-sm-6">
    <button type="button" class="btn btn-primary" (click)="navegacion()">Salir</button>
    <br>
    <button type="button" class="btn btn-primary" (click)="navegacion1()">Comprar</button>
  </div>

<br>
<br>


</div>
  
</body>

<div class="container text-left mt-5">
    <div class="row">
      <div class="col-sm-6" style="font-family: 'Times New Roman', Times, serif; font-size: 50px;">
        Paquito Store :D
      </div>
  
      <div class="col-sm-6">
        <div class="container text-left ">
          <div class="row">
            <div class="col-sm-6">
              HOME
            </div>
            <div class="col-sm-6">
              Comprar
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-primary" (click)="navegacion()">Salir</button>
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-primary" (click)="navegacion1()">Comprar</button>
  
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-sm-12" style="font-family: 'Times New Roman', Times, serif; font-size: small; background-color: aqua;">
        ME ENCANTA LA VERGA
      </div>
  
    </div>