<body style="background-color: rgb(51,82,102); text-align: center;  "> <p align="center" style="line-height: 108%; margin:0 auto">
    <h2>Hola denuevo</h2> {{ nombre }}
<div style="background-color: rgb(115,185,230);" > 
<div>
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title></title>
        <style type="text/css">
            @page { size: 11in 8.5in; margin: 0.5in }
            p { line-height: 115%; text-align: left; orphans: 2; widows: 2; margin-bottom: 0.1in; direction: ltr; background: transparent }
        </style>
    </head>
    <body lang="es-EC" link="#000080" vlink="#800000" dir="ltr">
    
        <table width="1040" cellpadding="7" cellspacing="0" style="line-height: 108%; margin:0 auto">
            <col width="514"/>
    
            <col width="222"/>
    
            <col width="90"/>
    
            <col width="154"/>
    
            <tr valign="top">
                <td width="514" bgcolor="#92cddc" style="background: #92cddc; border-top: 6.00pt solid #4bacc6; border-bottom: 1.50pt solid #4bacc6; border-left: 1.50pt solid #4bacc6; border-right: 1.50pt solid #4bacc6; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                    <font face="Calibri, serif"><b><font size="3" style="font-size: 12pt"><button type="button" class="btn btn-primary" (click)="navegacion1()">Comprar</button></font></b></font></p>
                </td>
                <td width="222" bgcolor="#92cddc" style="background: #92cddc; border-top: 6.00pt solid #4bacc6; border-bottom: 1.50pt solid #4bacc6; border-left: 1.50pt solid #4bacc6; border-right: 1.50pt solid #4bacc6; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                    <font face="Calibri, serif"><b><font size="3" style="font-size: 12pt">Carrito
                    de compras:</font></b></font></p>
                </td>
                <td width="90" bgcolor="#92cddc" style="background: #92cddc; border-top: 6.00pt solid #4bacc6; border-bottom: 1.50pt solid #4bacc6; border-left: 1.50pt solid #4bacc6; border-right: 1.50pt solid #4bacc6; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                    <font face="Calibri, serif"><b><font size="3" style="font-size: 12pt">Precio:
                    $</font></b></font></p>
                </td>
                <td width="154" bgcolor="#92cddc" style="background: #92cddc; border-top: 6.00pt solid #4bacc6; border-bottom: 1.50pt solid #4bacc6; border-left: 1.50pt solid #4bacc6; border-right: 1.50pt solid #4bacc6; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                    <font face="Calibri, serif"><b><font size="3" style="font-size: 12pt"> <button type="button" class="btn btn-primary" (click)="navegacion()">Salir</button></font></b></font></p>
                </td>
            </tr>
        </table>
    
    <p style="line-height: 108%; margin-bottom: 0.11in"><br/>
    <br/>
    
    </p>
    </body>
    </html>
    </div>

  
<br>
<body>
    <header>
        
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Portafolio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
            
        </nav>
        
        <section class="textos-header">
            <h1>Supercompras</h1>
            <h2>Encuentra todo a precios baratos</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        
           
                    <div style="background-color: rgb(255, 255, 255);"> 
                        <br>
                       
                        <div class="col-sm-6">
                            
                <!--------------------------------------------CODIGO EN HTML PARA HACER TABLAS ESTETICAS----------------------------------------------------------->
                <!DOCTYPE html>
                <html>
                <head>
                    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
                    <title></title>
                    <meta name="generator" content="LibreOffice 7.4.2.3 (Linux)"/>
                    <meta name="author" content="Josué Sáenz"/>
                    <meta name="created" content="2023-01-02T23:32:00"/>
                    <meta name="changedby" content="Josué Sáenz"/>
                    <meta name="changed" content="2023-01-03T01:06:00"/>
                    <meta name="AppVersion" content="16.0000"/>
                    <style type="text/css">
                        @page { size: 8.27in 11.69in; margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.98in; margin-bottom: 0.98in }
                        p { line-height: 115%; text-align: left; orphans: 2; widows: 2; margin-bottom: 0.1in; direction: ltr; background: transparent }
                    </style>
                </head>
                <body lang="es-EC" link="#000080" vlink="#800000" dir="ltr " background=><p align="center" style="line-height: 108%; margin:0 auto">
                    <br>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,160L120,176C240,192,480,224,720,213.3C960,203,1200,149,1320,122.7L1440,96L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
                    <br>
                    </p>
                        <table style="margin:0 auto" width="794" cellpadding="7" cellspacing="0">
                            <colgroup><col width="268">
                    
                            <col width="222">
                    
                            <col width="258">
                    
                            </colgroup><tbody><tr valign="top">
                                <td width="268" style="border-top: 6.00pt solid #5b9bd5; border-bottom: 1.50pt solid #5b9bd5; border-left: 1.50pt solid #5b9bd5; border-right: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2">
                                    <img src="https://mobilestore.ec/wp-content/uploads/2022/09/iPhone-14-Pro-Deep-Purple-Mobile-Store-Ecuador.jpg" name="Imagen 4" align="left" hspace="12" width="250" height="150" border="0">
                    <br>
                    
                                    </p>
                                </td>
                                <td width="222" style="border-top: 6.00pt solid #5b9bd5; border-bottom: 1.50pt solid #5b9bd5; border-left: 1.50pt solid #5b9bd5; border-right: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2">
                                    <img src="https://mobilestore.ec/wp-content/uploads/2022/07/ASUS-TUF-Dash-F15-FX517ZR-F15.I73070-Mobile-Store-Ecuador.jpg" name="Imagen 5" align="left" hspace="12" width="213" height="213" border="0">
                    <br>
                    
                                    </p>
                                </td>
                                <td width="258" style="border-top: 6.00pt solid #5b9bd5; border-bottom: 1.50pt solid #5b9bd5; border-left: 1.50pt solid #5b9bd5; border-right: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/51-+O3-wFxL._AC_UL330_SR330,330_.jpg" name="Imagen 6" align="left" hspace="12" width="188" height="188" border="0">
                    <br>
                    
                                    </p>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr valign="top">
                                <td width="268" bgcolor="#f2f2f2" style="background: #f2f2f2; border-top: 1.50pt solid #5b9bd5; border-bottom: 1.00pt solid #5b9bd5; border-left: 1.50pt solid #5b9bd5; border-right: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2">
                                    <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Producto:
                                    IPhone 14 Pro Max</b></font></font></p>
                                </td>
                                <td width="222" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2">
                                    <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Producto</b>:
                                    Asus TUF F15</font></font></p>
                                </td>
                                <td width="258" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2">
                                    <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Producto</b>:
                                    Auriculares bluetooth</font></font></p>
                                </td>
                            </tr>
                            <tr valign="top">
                                <td width="268" style="border-top: 1.00pt solid #5b9bd5; border-bottom: 1.50pt solid #5b9bd5; border-left: 1.50pt solid #5b9bd5; border-right: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2">
                                    <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Precio:
                                    $1,400</b></font></font></p>
                                </td>
                                <td width="222" style="border: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2">
                                    <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Precio</b>:
                                    $1,700</font></font></p>
                                </td>
                                <td width="258" style="border: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2">
                                    <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Precio</b>:
                                    $170</font></font></p>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr valign="top" style="margin:0 auto">
                                <td width="268" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2" style="margin:0 auto">
                                    <br>
                                    <button type="button" class="btn btn-primary" style="margin:0auto" (click)="Comprar()" [(ngModel)]="a" style="margin:0 auto">Agregar</button>
                                    </p>
                                </td>
                                <td width="222" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2" style="margin:0 auto">
                                    <br>
                                    <button type="button" class="btn btn-primary" (click)="Comprar()" [(ngModel)]="b" style="margin:0 auto" >Agregar</button>
                                    </p>
                                </td>
                                <td width="258" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 1.50pt solid #5b9bd5; padding: 0in 0.08in"><p align="center" style="orphans: 2; widows: 2" style="margin:0 auto">
                                    <br>
                                    <button type="button" class="btn btn-primary" (click)="Comprar()" [(ngModel)]="c" >Agregar</button>
                                    </p>
                                </td>
                            </tr>
                        </tbody></table>
                    </body>
                </html>
                <!--------------------------------------------fin del CODIGO EN HTML PARA HACER TABLAS ESTETICAS-----------------------------------------------------------></div><br><br>
                       <div>
                        <img src="Saenz_Josue_p2_3E2\src\app\componentes\componente3\imagenes\a.png" alt=""> 
                       </div>
                
                <div class="col-sm-6" style="line-height: 108%; margin:0 auto">
                <!--------------------------------------------CODIGO EN HTML PARA HACER TABLAS ESTETICAS----------------------------------------------------------->
                <!DOCTYPE html>
                <html>
                <head>
                    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
                    <title></title>
                    <style type="text/css">
                        @page { size: 11.69in 8.27in; margin: 0.5in }
                        p { line-height: 115%; text-align: left; orphans: 2; widows: 2; margin-bottom: 0.1in; direction: ltr; background: transparent }
                    </style>
                </head>
                <body lang="es-EC" link="#000080" vlink="#800000" dir="ltr" style="line-height: 108%; margin:0 auto">
                
                    <table width="832" cellpadding="7" cellspacing="0" style="margin:0 auto">
                        <col width="147"/>
                
                        <col width="181"/>
                
                        <col width="184"/>
                
                        <col width="257"/>
                
                        <tr valign="top">
                            <td width="147" style="border-top: 6.00pt solid #5b9bd5; border-bottom: 2.25pt solid #5b9bd5; border-left: 2.25pt solid #5b9bd5; border-right: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Samsung
                                S20 Plus</b></font></font></p>
                            </td>
                            <td width="181" style="border-top: 6.00pt solid #5b9bd5; border-bottom: 2.25pt solid #5b9bd5; border-left: 2.25pt solid #5b9bd5; border-right: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Lenovo
                                M-30</b></font></font></p>
                            </td>
                            <td width="184" style="border-top: 6.00pt solid #5b9bd5; border-bottom: 2.25pt solid #5b9bd5; border-left: 2.25pt solid #5b9bd5; border-right: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Cámara
                                Canon 90D</b></font></font></p>
                            </td>
                            <td width="257" style="border-top: 6.00pt solid #5b9bd5; border-bottom: 2.25pt solid #5b9bd5; border-left: 2.25pt solid #5b9bd5; border-right: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>MSI
                                2022</b></font></font></p>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr valign="top">
                            <td width="147" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <img src="https://www.c-electronics-store.com/store/1277-large_default/samsung-galaxy-s20-plus.jpg" name="Imagen 2" align="left" hspace="12" width="168" height="168" border="0"/>
                <br/>
                
                                </p>
                            </td>
                            <td width="181" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <img src="https://www.notebookcheck.net/uploads/tx_nbc2/LenovoM30_Teaser.jpg" name="Imagen 3" align="left" hspace="12" width="202" height="152" border="0"/>
                <br/>
                
                                </p>
                            </td>
                            <td width="184" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <img src="https://tiendafotograficaecuador.com.ec/wp-content/uploads/2022/02/Canon-90D-con-lente-18-135-mm-Tienda-Fotografica-Ecuador-1.jpg" name="Imagen 4" align="left" hspace="12" width="205" height="205" border="0"/>
                <br/>
                
                                </p>
                            </td>
                            <td width="257" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <img src="https://images.frandroid.com/wp-content/uploads/2022/01/msi-ge76-raider.jpeg" name="Imagen 5" align="left" hspace="12" width="290" height="199" border="0"/>
                <br/>
                
                                </p>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr valign="top">
                            <td width="147" style="border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Precio:
                                $1,200</b></font></font></p>
                            </td>
                            <td width="181" style="border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Precio:
                                $980</b></font></font></p>
                            </td>
                            <td width="184" style="border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Precio:
                                $980</b></font></font></p>
                            </td>
                            <td width="257" style="border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <font face="Calibri, serif"><font size="2" style="font-size: 11pt"><b>Precio:
                                $2,000</b></font></font></p>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr valign="top">
                            <td width="147" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <br/>
                                <button type="button" class="btn btn-primary" style=margin:0 auto (click)="Comprar()" [(ngModel)]="d">Agregar</button>
                                </p>
                            </td>
                            <td width="181" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <br/>
                                <button type="button" class="btn btn-primary" style=margin:0 auto (click)="Comprar()" [(ngModel)]="e">Agregar</button>
                                </p>
                            </td>
                            <td width="184" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <br/>
                                <button type="button" class="btn btn-primary" style=margin:0 auto (click)="Comprar()" [(ngModel)]="f">Agregar</button>
                                </p>
                            </td>
                            <td width="257" bgcolor="#f2f2f2" style="background: #f2f2f2; border: 2.25pt solid #5b9bd5; padding: 0in 0.08in"><p align="left" style="orphans: 2; widows: 2">
                                <br/>
                                <button type="button" class="btn btn-primary" style=margin:0 auto (click)="Comprar()" [(ngModel)]="g">Agregar</button>
                                </p>
                            </td>
                        </tr>
                    </table>
                
                <p style="line-height: 108%; margin-bottom: 0.11in"><span class="sd-abs-pos" style="position: absolute; top: 0.18in; left: 0in; width: 1026px">
                </span><br/>
                <br/>
                
                </p>
                <p style="line-height: 108%; margin-bottom: 0.11in"><br/>
                <br/>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,160L120,176C240,192,480,224,720,213.3C960,203,1200,149,1320,122.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
                </p>
                </body>
                </html>
                <!--------------------------------------------fin del CODIGO EN HTML PARA HACER TABLAS ESTETICAS-----------------------------------------------------------></div>
                
                        <br>
                        <br>
                
                </div>
          
        
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">!Mas Tecnologia Aqui!</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="https://m.media-amazon.com/images/I/419MqI3z2DL._AC_SY580_.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/computers-mobile-hardware/mouse-click-icon.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://cemco.com.ec/wp-content/uploads/2022/05/Celular-Samsung-Galaxy-SM-A135-OC-4GB-64GB-5G-HD-Plus-6.5Inc-Cam.-Andr.11-BlackBy-Kevin-Anilema.png" alt="">
                        <div class="hover-galeria">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/computers-mobile-hardware/mouse-click-icon.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://images.samsung.com/is/image/samsung/p5/latin/blackedition/new/rf263beaesg/RF263BEAESG-v2.png?$ORIGIN_PNG$" alt="">
                        <div class="hover-galeria">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/computers-mobile-hardware/mouse-click-icon.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="http://www.catalogo.claro.com.ec/uploads/imgs/productos/tcl-50-l50p615/negro/zoom/01-tcl-50-l50p615-negro-front.png" alt="">
                        <div class="hover-galeria">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/computers-mobile-hardware/mouse-click-icon.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://mobilestore.ec/wp-content/uploads/2021/04/Xiaomi-Redmi-Note-10-Pro-Verde-Mobile-Store-Ecuador.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/computers-mobile-hardware/mouse-click-icon.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_751583-MLA46773535610_072021-O.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/computers-mobile-hardware/mouse-click-icon.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://www.lenovo.com/medias/lenovo-laptops-ideapad-gaming-3i-gen-7-15-intel-gallery-1.jpg?context=bWFzdGVyfHJvb3R8MTYwNzY5fGltYWdlL2pwZWd8aGQyL2hkNS8xNDQxODM1NDE3NjAzMC5qcGd8OTcxYjY4YWM2YWEyNTc0NTNmMzA1YTM1NjIyOTVhZjFlY2JjYmQwODQ2NWE0YzRjMDhhZmI1MmZiNzk0MWI5OQ" alt="">
                        <div class="hover-galeria">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/computers-mobile-hardware/mouse-click-icon.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_746282-MEC50930883344_072022-V.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/computers-mobile-hardware/mouse-click-icon.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">Que dicen nuestros clientes</h2>
            <div class="cards">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/103/103831.png" alt="">
                    <div class="contenido-texto-card">
                        <h4>Metodo de Compras:</h4>
                        <p>Esta es la mejor tienda del mundo, mejor que amazon y almenos por mi opinion yo le doy un 10</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/107/107831.png" alt="">
                    <div class="contenido-texto-card">
                        <h4>Metodo de Incio</h4>
                        <p>Muy comodo, me encanto como el creador pone en especifico su contacto abajo...</p>
                    </div>
                </div>
            </div>
        </section>
<br><br>
<br>
<br>
<br>
<br>
<div>
    <br>
    <br>
    <section class="about-services">
        <div class="contenedor">
            <h2 class="titulo">Nuestros servicios</h2>
            <div class="servicio-cont">
                <div class="servicio-ind">
                    <img src="https://media.gcflearnfree.org/content/5b10404e6d5ad52ca4b6e50b_2_2_2013/Imagen%201.png" alt="">
                    <h3>Correo</h3>
                    <p>Ingresa tu correo electronico y compra en nuestra incrible tienda de tegnologia</p>
                </div>
                <div class="servicio-ind">
                    <img src="https://www.webempresa.com/wp-content/uploads/2022/09/movil-contrasena-acceso-login-usuarios-400-2022.png" alt="">
                    <h3>Login</h3>
                    <p>Se recomienda que antes de entrar a la pagina web se debera de registrar pra ingresar y comprar</p>
                </div>
                <div class="servicio-ind">
                    <img src="https://blog.convertia.com/wp-content/uploads/2020/10/equipos-ventas-transformacion-digital-omnicanalidad.jpg" alt="">
                    <h3>Navegacion</h3>
                    <p>Encuentra todo tipo de productos de tegnologia de punta para su administracion</p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>


</div>
<br>
<br>
<br>
<br>
<div>
    <br>
    <br>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>2460525</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>josue.saenza.est@uets.edu.ec</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>Av. Ordoñes Lazo</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Josué Sáenz 3E2 y Abigail Aguirre</h2>
    </footer>
    <br>
    <br>


</div>


     