<div style="background-color: rgb(83,134,166); text-align: center; margin-left: 30%; margin-right: 30%;">
    <body>
        <br>
        <div style="background-color: rgb(51,82,102);">
    
        <h1> Codido QR de su compra </h1>
    <p style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png"></p>
    <br>
    
    <div style="background-color: rgb(115,185,230);"> 
    <p>Articulos comprados (PRECIO)</p>
    {{ celular }} <br>
    {{ computadora }}<br>
    {{ audifonos }}<br>
    {{d}}<br>
    {{e}}<br>
    {{f}}<br>
    {{g}}<br>
    </div>
    
    <br>
    
    <div style="background-color: rgb(121,196,242);">
    <p>Valor a pagar</p>
    {{celular}}+{{computadora}}+{{audifonos}}+{{d}}+{{e}}+{{f}}+{{g}}=$8430
    <br>
    <br>
    </div>
    
    <div style="background-color: rgb(102,165,204);">
    <p>Datos del cliente</p>
    <p>Nombre:</p>
    {{ nombre }}
    <p>Correo</p>
    {{ correo }}
    <p>Numero de Telefono</p>
    {{ numero }}
    <br>
    <br>
    </div>
    
    <br>
    
    <div style="background-color: rgb(102,165,204);">
    <p>Factura de compras</p>
    <p>Gracias por comprar con nosotros</p>
    <br>
    <br>
    <p>Evento</p>
    <p>compra de productos de tecnologia<br>El usuario se registra con sus datos y se enviaran al gmail correpondiente<br> y alfinal solo se debe finalizar la compra</p>
    <p>(Ejemplo)</p>
    <br>
    <br>
    </div>

    <br>

    <div style="margin-left: 30%;">
        <p style="text-align: left;">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Locacion</p>
        <p style="text-align: left;">Viernes. Enero 08/2023. Finalizacion de pagina web&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tecnico Salesiano</p>
        <p style="text-align: left;">7:00 am :D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ecuador, Cuenca</p>
        
    </div>

    <br>

    </div>

    
    <div style="background-color: rgb(121,196,242);">
        <br>
        <button (click)="navegacion2()">¿Realizar otra compra?</button>
        <br><br>
    </div>
    <br>
</body>

</div>
