<div style="background-color: rgb(83,134,166); text-align: center; margin-left: 30%; margin-right: 30%;">
    <body>
        <br>
        <div style="background-color: rgb(51,82,102);">
    
        <h1> ANDROID </h1>
    <p style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png"></p>
    <br>
    
    <div style="background-color: rgb(115,185,230);"> 
    <p>Articulos comprados (PRECIO)</p>
    {{ celular }} <br>
    {{ computadora }}<br>
    {{ audifonos }}<br>
    {{d}}<br>
    {{e}}<br>
    {{f}}<br>
    {{g}}<br>
    </div>
    
    <br>
    
    <div style="background-color: rgb(121,196,242);">
    <p>Valor a pagar</p>
    {{celular}}+{{computadora}}+{{audifonos}}+{{d}}+{{e}}+{{f}}+{{g}}
    <br>
    <br>
    </div>
    
    <div style="background-color: rgb(102,165,204);">
    <p>Datos del cliente</p>
    <p>Nombre:</p>
    {{ nombre }}
    <p>Correo</p>
    {{ correo }}
    <p>Numero de Telefono</p>
    {{ numero }}
    <br>
    <br>
    </div>
    
    <br>
    
    <div style="background-color: rgb(102,165,204);">
    <p>Ticket/seat</p>
    <p>Mud run Participant</p>
    <br>
    <br>
    <p>Event</p>
    <p>Endurance Event with Group <br>Registration, Registation Transfers,<br> and Auto-Assign Numbers enabled</p>
    <p>(Example)</p>
    <br>
    <br>
    </div>

    <br>

    <div style="margin-left: 30%;">
        <p style="text-align: left;">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Localition</p>
        <p style="text-align: left;">Fri.Feb 21 2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Golden Gate park</p>
        <p style="text-align: left;">7:00 AM PST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;San Francisco. CA</p>
        
    </div>

    <br>

    </div>

    
    <div style="background-color: rgb(121,196,242);">
        <br>
        <button (click)="navegacion2()">Realizar otra compra</button>
        <br><br>
    </div>
    <br>
</body>

</div>
